/*
 Orange - #FFB224
*/

section[data-state="search"] {
    text-align: left;
    font-size: 1em;
    top: 0;
}

section[data-state="search"] > * {
    font-size: 16px;
}

.full-width {
    width: 100%;
}

.no-center {
    top: 0 !important;
    text-align: left !important;
}
#senseit {
    height: 600px;
    width: 400px;
    overflow: scroll;
}
#senseit td {
    padding: 5px !important;
}
#senseit * {
    font-size: 12px !important;  
}
#searchresults_results {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
}
#searchresults_results > .search-image {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    max-width: 60px;
    max-height: 80px;
    flex: 1;
}
#searchresults_results > .search-image.big {
    max-width: 150px;
    max-height: 150px;
}
#searchinput_associationsList * {
    color: #333 !important;
}
#searchinput_associations {
    background-color: #fff !important;
    color: #eee;
}
#searchinput_associationsList {
    width: 100%;
}
#chartarea {
    font-size: 14px;
    flex: 1;
    height: 400px;
    text-align: left;
    background: #fff;
    padding: 10px;
    color: #333;
}
#newexecute {
    outline: 0;
    border: 0;
    padding: 7px 20px;
    font-size: 20px;
    color: #000;
    background: #FFB224;
}
.qv-object {
    display: flex !important;
}
.qv-object * {
    font-family: 'QlikView Sans', sans-serif !important;
}
.qvt-visualization-title {
    font-size: 22px !important;
    color: #808080 !important;
    margin-bottom: 0 !important;
}
.qvt-visualization-subtitle {
    font-size: 16px !important;
    color: #808080 !important;
}



/*
 * Qlik Fonts
 */
 @font-face {
  font-family: 'QlikView Sans';
  src: url('https://localhost/resources/fonts/qlikview-sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QlikView Sans';
  src: url('https://localhost/resources/fonts/qlikview-sans-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'QlikView Sans';
  src: url('https://localhost/resources/fonts/qlikview-sans-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'QlikView Sans';
  src: url('https://localhost/resources/fonts/qlikview-sans-bold-italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'QlikView Icons';
  src: url('https://localhost/resources/fonts/qlikview-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



.reset-this {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
}